label.file1 {
    background: #b68834;
    color: #fff;
    border-radius: 5px;
    padding: 6px;
    cursor: pointer;
  }
  
  label.file1:hover,input#addrow:hover {
    background: #230c05;
   
  }
  .table td, .table th {
    padding: 0.3rem !important;
  }
  .trash{
    color: red;
  }