<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <a class="sidebar-brand d-flex align-items-center justify-content-center" 
        href="index.html">
        <div class="sidebar-brand-text mx-3">UR RECIPIES </div>
    </a>

    <hr class="sidebar-divider my-0">

    <li class="nav-item">
        <a class="btn nav-link collapsed" [routerLink]="['/admin']" aria-controls="collapseTwo">
            <i class="fas fa-file menu-icon"></i> &nbsp;<span>Menus</span>
        </a>
    </li>
    
    <hr class="sidebar-divider d-none d-md-block">
    <li class="nav-item">
        <a class="btn nav-link collapsed" [routerLink]="[{ outlets: { display: ['roles'] } }]" aria-controls="collapseTwo">
            <i class="fas fa-file menu-icon"></i> &nbsp;<span>Roles</span>
        </a>
    </li>
    
    <hr class="sidebar-divider d-none d-md-block">
    
    <li class="nav-item">
        <a class="btn nav-link collapsed" [routerLink]="[{ outlets: { display: ['users'] } }]" aria-controls="collapseTwo">
            <i class="fas fa-file menu-icon"></i> &nbsp;<span>Users</span>
        </a>
    </li>
    
    <hr class="sidebar-divider d-none d-md-block">

    <li class="nav-item">
        <a class="btn nav-link collapsed" [routerLink]="[{ outlets: { display: ['menuacess'] } }]" aria-controls="collapseTwo">
            <i class="fas fa-file menu-icon"></i> &nbsp;<span>Menu Access</span>
        </a>
    </li>
    
    <hr class="sidebar-divider d-none d-md-block">
</ul>