<section class="menu-area section-gap" id="coffee">
    <div class="container">
         <div class="row d-flex justify-content-center">
              <div class="menu-content pb-60 col-lg-10">
                   <div class="title text-center">
                        <h1 class="mb-10">What kind of Recipes we serve for you</h1>
                   </div>
              </div>
         </div>
         <div class="row">
              <div class="col-lg-3">
                   <img src="../../../assets/recipe/img/1.jpg" class="img-fluid imagestatic">
                   <div class="single-menu">
                        <div class="title-div justify-content-between d-flex">
                             <h4><a [routerLink]="[{ outlets: { middlecontent: ['detail'] } }]">Cappuccino</a></h4>
                             
                        </div>
                   </div>
              </div>

              <div class="col-lg-3">
                   <img src="../../../assets/recipe/img/1.jpg" class="img-fluid imagestatic">
                   <div class="single-menu">
                        <div class="title-div justify-content-between d-flex">
                             <h4><a href="description.html">Cappuccino</a></h4>
                             
                        </div>
                   </div>
              </div>

          
         </div>
    </div>
</section>