<section class="video-sec-area pt-100" id="about">
    <div class="container">
         <div class="row justify-content-start align-items-center">
              <div class="col-lg-6">

                   <div class="container border-top-generic">
                        <br><br><br>
                        <img class="img-fluid" src="img/restaurant.jpg">
                        <br><br>
                        <h3 class="about-title mb-30">Edit Profile</h3>
                        <div class="row">

                             <div class="modal-body">

                                  <div class="col-12 effect-9" style="width: 100%; margin:auto;">
                                       <label style="width: 100%" class="file1">
                                            Upload Profile…
                                            <input type="file" style="display: none;" class="effect-9">
                                       </label>

                                  </div>
                                  <br>

                                  <div class="col-12">
                                       <input class="effect-9" type="text" placeholder="Full Name">
                                       <span class="focus-border">
                                            <i></i>
                                       </span>
                                  </div>

                                  <br>
                                  <div class="col-12">
                                       <input class="effect-9" type="text" placeholder="Email">
                                       <span class="focus-border">
                                            <i></i>
                                       </span>
                                  </div>




                                  <br>
                                  <div class="col-12">
                                       <input class="effect-9" type="text" placeholder="Mobile">
                                       <span class="focus-border">
                                            <i></i>
                                       </span>
                                  </div>


                                  <br>

                                  <div class="col-12">
                                       <select class="effect-9 form-control">
                                            <option>Gender</option>
                                            <option>Male</option>
                                            <option>Female</option>
                                            <option>Other</option>
                                       </select>
                                       <span class="focus-border">
                                            <i></i>
                                       </span>
                                  </div>

                                  <br>


                                  <button class="success-btn">Edit</button>

                             </div>

                        </div>
                   </div>


              </div>

              <div class="col-lg-6 col-sm-12">
                   <!--left col-->


                   <div class="text-center">
                        <img src="img/profile.jpg" class="avatar img-circle img-thumbnail" alt="avatar"
                             style="width: 192px; height:192px;">
                        <br><br>
                        <div class="video-left">
                             <h4>Upload a different photo...</h4>
                        </div>

                   </div><br>


                   <div class="panel panel-default">

                   </div>


                   <ul class="list-group">
                        <li class="list-group-item text-muted"><strong>Details</strong> <i
                                  class="fa fa-dashboard fa-1x"></i></li>
                        <li class="list-group-item text-right"><span
                                  class="pull-left"><strong>NAME</strong></span> <span
                                  class="badge">Krishna</span></li>
                        <li class="list-group-item text-right"><span
                                  class="pull-left"><strong>EMAIL</strong></span> <span
                                  class="badge">chkrish@gmail.com</span></li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>MOBILE
                                       NUMBER</strong></span> <span class="badge">7396678358</span></li>
                        <li class="list-group-item text-right"><span
                                  class="pull-left"><strong>GENDER</strong></span> <span
                                  class="badge">Male</span></li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>TOTAL
                                       UPLOADS</strong></span> <span class="badge">322</span></li>
                   </ul>



              </div>
         </div>
    </div>
</section>