<!DOCTYPE html>
<html lang="en">

<head>
  <title>Customers List</title>

  <link href="UI_WEB/src/vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
  
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <link href="css/sb-admin-2.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

</head>

<body>

  <!-- Page Wrapper -->
  <div id="wrapper">

    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-text mx-3">Recipe Admin </div>
      </a>

      <hr class="sidebar-divider my-0">

      <li class="nav-item">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <hr class="sidebar-divider">

      <div class="sidebar-heading">
        <b>Interface</b>
      </div>

      <li class="nav-item">
        <a class="nav-link collapsed" href="customers_list.html" aria-controls="collapseTwo">
          <i class="fas fa-file text-white"></i> &nbsp;<span>Customers</span>
        </a>
      </li>

      <hr class="sidebar-divider d-none d-md-block">

      <li class="nav-item">
        <a class="nav-link collapsed" href="recipes_list.html" aria-controls="collapseTwo">
          <i class="fas fa-file text-white"></i> &nbsp;<span>Recipes</span>
        </a>
      </li>

      <hr class="sidebar-divider d-none d-md-block">

      <li class="nav-item">
        <a class="nav-link collapsed" href="roles.html" aria-controls="collapseTwo">
          <i class="fas fa-file text-white"></i> &nbsp;<span>Roles</span>
        </a>
      </li>

      <hr class="sidebar-divider d-none d-md-block">

      <li class="nav-item">
        <a class="nav-link collapsed" href="menus.html" aria-controls="collapseTwo">
          <i class="fas fa-file text-white"></i> &nbsp;<span>Menus</span>
        </a>
      </li>

      <hr class="sidebar-divider d-none d-md-block">

      
      <li class="nav-item">
        <a class="nav-link collapsed" href="units.html" aria-controls="collapseTwo">
          <i class="fas fa-file text-white"></i> &nbsp;<span>Units</span>
        </a>
      </li>

      <hr class="sidebar-divider d-none d-md-block">

         
      <li class="nav-item">
        <a class="nav-link collapsed" href="menus_allocation.html" aria-controls="collapseTwo">
          <i class="fas fa-file text-white"></i> &nbsp;<span>Menus Allocation</span>
        </a>
      </li>

      <hr class="sidebar-divider d-none d-md-block">



    </ul>

    <div id="content-wrapper" class="d-flex flex-column">

      <div id="content">

        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <ul class="navbar-nav ml-auto">

            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small" ><b>Logout</b></span>
              </a>
            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <li class="nav-item dropdown no-arrow">
              

              <a   class="nav-link dropdown-toggle"  data-toggle="modal">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small" data-toggle="modal"
                  data-target="#changepassword"><b>Change Password</b></span>
              </a>

              

          </ul>
        </nav>


        <div id="content-wrapper" class="d-flex flex-column">
          <div id="content">

            <img  src="img/header-bg.jpg" class="img-fluid img-responsive"/>

          </div>
        </div>


        <div class="container-fluid"> 
        
            <!-- Page Heading -->
            
            
            <!-- Content Row -->
            <div class="row"> 
              
              <!-- Earnings (Monthly) Card Example -->
              
              
              <!-- Earnings (Monthly) Card Example -->
              <div class="col-xl-4 col-md-6 mb-3">
                <div class="card border-left-success shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Customers</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">100</div>
                      </div>
                      <div class="col-auto"> <i class="fas fa-dollar-sign fa-2x text-gray-300"></i> </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- Earnings (Monthly) Card Example -->
              <div class="col-xl-4 col-md-6 mb-3">
                <div class="card border-left-info shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Posts</div>
                        <div class="row no-gutters align-items-center">
                          <div class="col-auto">
                            <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">550</div>
                          </div>
                          <div class="col">
                            <div class="progress progress-sm mr-2">
                              <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-auto"> <i class="fas fa-clipboard-list fa-2x text-gray-300"></i> </div>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- Pending Requests Card Example -->
              <div class="col-xl-4 col-md-6 mb-3">
                <div class="card border-left-warning shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Upload Requests</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">23</div>
                      </div>
                      <div class="col-auto"> <i class="fas fa-comments fa-2x text-gray-300"></i> </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- Content Row --> 
            
            <!-- Content Row -->
            <div class="row"> 
              
             
              
            </div>
          </div>


      </div>
    </div>

  </div>


  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Change Modal-->
  <div class="modal fade" id="changepassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>

          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-sm-12 mb-3 mb-sm-0 d-flex flex-row">
            <input type="password" class="form-control form-control-user" id="exampleInputPassword"
              placeholder="New Password">
          </div><br>

          <div class="col-sm-12 mb-3 mb-sm-0 d-flex flex-row">
            <input type="password" class="form-control col-sm-12" id="exampleInputPassword"
              placeholder="Confirm Password">
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="login.html">Save</a>
        </div>
      </div>
    </div>
  </div>

  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>